<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/adminProducts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/scripts/adminProducts.js" defer></script>
  </head>

  <body>
    <div class="container">
      <aside><%- include("partial/nav-barAdmin.ejs") %></aside>
      <section class="main">
        <div class="table-container">
          <h2>Products</h2>
          <button id="addProductBtn">Add Product</button>
          <table>
            <thead>
              <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Difficulty</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="productTableBody">
              <% if (meals && meals.length > 0) { %> <% meals.forEach(meal => {
              %>
              <tr data-id="<%= meal._id %>">
                <td><img src="<%= meal.image %>" alt="<%= meal.name %>" /></td>
                <td><%= meal.name %></td>
                <td><%= meal.description %></td>
                <td><%= meal.cookTime %> min</td>
                <td><%= meal.difficulty %></td>
                <td>
                  <button
                    class="edit-button"
                    data-id="<%= meal._id %>"
                    data-name="<%= meal.name %>"
                    data-image="<%= meal.image %>"
                    data-cooktime="<%= meal.cookTime %>"
                    data-difficulty="<%= meal.difficulty %>"
                    data-description="<%= meal.description %>"
                    data-tags="<%= meal.tags %>"
                    data-preferences="<%= meal.preferences.join(',') %>"
                    data-ingredientsname="<%= meal.ingredientsName.join(',') %>"
                    data-ingper2="<%= meal.ingPer2.join(',') %>"
                    data-ingper4="<%= meal.ingPer4.join(',') %>"
                    data-instructions="<%= meal.instructions.join(',') %>"
                    data-allergens="<%= meal.allergens.join(',') %>"
                    data-utensils="<%= meal.utensils.join(',') %>"
                    data-nutrition='{"energy": <%= meal.nutrition.energy %>, "calories": <%= meal.nutrition.calories %>, "fat": <%= meal.nutrition.fat %>, "satFat": <%= meal.nutrition.satFat %>, "carbohydrates": <%= meal.nutrition.carbohydrates %>, "sugar": <%= meal.nutrition.sugar %>, "fiber": <%= meal.nutrition.fiber %>, "protein": <%= meal.nutrition.protein %>, "cholesterol": <%= meal.nutrition.cholesterol %>, "sodium": <%= meal.nutrition.sodium %> }'
                    data-recommendations="<%= meal.recommendations.join(',') %>"
                  >
                    <i class="fas fa-pen"></i>
                  </button>

                  <button
                  type="button"
                  class="delete-button"
                  onclick="openDeleteModal('<%= meal._id %>','<%=meal.name%>')"
                >
                  <i class="fas fa-trash"></i>
                </button>
                </td>
              </tr>
              <% }) %> <% } else { %>
              <tr>
                <td colspan="6">No meals found</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
    </div>

    <!-- Modal for Adding Product -->
    <div id="addProductModal" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('addProductModal')"
          >&times;</span
        >
        <h2>Add Product</h2>
        <form id="addProductForm" action="/products/add" method="POST">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />

          <label for="image">Image URL:</label>
          <input type="text" id="image" name="image" required />

          <label for="cookTime">Cook Time (in minutes):</label>
          <input type="number" id="cookTime" name="cookTime" required />

          <label for="difficulty">Difficulty:</label>
          <select id="difficulty" name="difficulty" required>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select>

          <label for="description">Description:</label>
          <textarea id="description" name="description" required></textarea>

          <label for="tags">Cuisine:</label>
          <input type="text" id="tags" name="tags" required />

          <label for="preferences">Preferences:</label>
          <input type="text" id="preferences" name="preferences" required />

          <label for="ingredientsName">Ingredients Name:</label>
          <input
            type="text"
            id="ingredientsName"
            name="ingredientsName"
            required
          />

          <label for="ingPer2">Ingredients Per 2 Servings:</label>
          <input type="text" id="ingPer2" name="ingPer2" required />

          <label for="ingPer4">Ingredients Per 4 Servings:</label>
          <input type="text" id="ingPer4" name="ingPer4" required />

          <label for="instructions">Instructions:</label>
          <input type="text" id="instructions" name="instructions" required />

          <label for="allergens">Allergens:</label>
          <input type="text" id="allergens" name="allergens" required />

          <label for="utensils">Utensils:</label>
          <input type="text" id="utensils" name="utensils" required />

          <label for="nutrition_energy">Energy:</label>
          <input
            type="number"
            id="nutrition_energy"
            name="nutrition[energy]"
            required
          />

          <label for="nutrition_calories">Calories:</label>
          <input
            type="number"
            id="nutrition_calories"
            name="nutrition[calories]"
            required
          />

          <label for="nutrition_fat">Fat:</label>
          <input
            type="number"
            id="nutrition_fat"
            name="nutrition[fat]"
            required
          />

          <label for="nutrition_satFat">Saturated Fat:</label>
          <input
            type="number"
            id="nutrition_satFat"
            name="nutrition[satFat]"
            required
          />

          <label for="nutrition_carbohydrates">Carbohydrates:</label>
          <input
            type="number"
            id="nutrition_carbohydrates"
            name="nutrition[carbohydrates]"
            required
          />

          <label for="nutrition_sugar">Sugar:</label>
          <input
            type="number"
            id="nutrition_sugar"
            name="nutrition[sugar]"
            required
          />

          <label for="nutrition_fiber">Fiber:</label>
          <input
            type="number"
            id="nutrition_fiber"
            name="nutrition[fiber]"
            required
          />

          <label for="nutrition_protein">Protein:</label>
          <input
            type="number"
            id="nutrition_protein"
            name="nutrition[protein]"
            required
          />

          <label for="nutrition_cholesterol">Cholesterol:</label>
          <input
            type="number"
            id="nutrition_cholesterol"
            name="nutrition[cholesterol]"
            required
          />

          <label for="nutrition_sodium">Sodium:</label>
          <input
            type="number"
            id="nutrition_sodium"
            name="nutrition[sodium]"
            required
          />

          <label for="recommendations">Recommendations:</label>
          <input
            type="text"
            id="recommendations"
            name="recommendations"
            required
          />

          <button type="submit">Add Meal</button>
        </form>
      </div>
    </div>

    <!-- Modal for Editing Product -->
    <div id="editProductModal" class="modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('editProductModal')"
          >&times;</span
        >
        <h2>Edit Product</h2>
        <form id="editProductForm">
          <input type="hidden" id="edit_mealId" name="mealId" />

          <label for="edit_name">Name:</label>
          <input type="text" id="edit_name" name="name" required />

          <label for="edit_image">Image URL:</label>
          <input type="text" id="edit_image" name="image" required />

          <label for="edit_cookTime">Cook Time (in minutes):</label>
          <input type="number" id="edit_cookTime" name="cookTime" required />

          <label for="edit_difficulty">Difficulty:</label>
          <select id="edit_difficulty" name="difficulty" required>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select>

          <label for="edit_description">Description:</label>
          <textarea
            id="edit_description"
            name="description"
            required
          ></textarea>

          <label for="edit_tags">Tags:</label>
          <input type="text" id="edit_tags" name="tags" required />

          <label for="edit_preferences">Preferences:</label>
          <input
            type="text"
            id="edit_preferences"
            name="preferences"
            required
          />

          <label for="edit_ingredientsName">Ingredients Name:</label>
          <input
            type="text"
            id="edit_ingredientsName"
            name="ingredientsName"
            required
          />

          <label for="edit_ingPer2">Ingredients Per 2 Servings:</label>
          <input type="text" id="edit_ingPer2" name="ingPer2" required />

          <label for="edit_ingPer4">Ingredients Per 4 Servings:</label>
          <input type="text" id="edit_ingPer4" name="ingPer4" required />

          <label for="edit_instructions">Instructions:</label>
          <input
            type="text"
            id="edit_instructions"
            name="instructions"
            required
          />

          <label for="edit_allergens">Allergens:</label>
          <input type="text" id="edit_allergens" name="allergens" required />

          <label for="edit_utensils">Utensils:</label>
          <input type="text" id="edit_utensils" name="utensils" required />

          <label for="edit_nutrition_energy">Energy:</label>
          <input
            type="number"
            id="edit_nutrition_energy"
            name="nutrition[energy]"
            required
          />

          <label for="edit_nutrition_calories">Calories:</label>
          <input
            type="number"
            id="edit_nutrition_calories"
            name="nutrition[calories]"
            required
          />

          <label for="edit_nutrition_fat">Fat:</label>
          <input
            type="number"
            id="edit_nutrition_fat"
            name="nutrition[fat]"
            required
          />

          <label for="edit_nutrition_satFat">Saturated Fat:</label>
          <input
            type="number"
            id="edit_nutrition_satFat"
            name="nutrition[satFat]"
            required
          />

          <label for="edit_nutrition_carbohydrates">Carbohydrates:</label>
          <input
            type="number"
            id="edit_nutrition_carbohydrates"
            name="nutrition[carbohydrates]"
            required
          />

          <label for="edit_nutrition_sugar">Sugar:</label>
          <input
            type="number"
            id="edit_nutrition_sugar"
            name="nutrition[sugar]"
            required
          />

          <label for="edit_nutrition_fiber">Fiber:</label>
          <input
            type="number"
            id="edit_nutrition_fiber"
            name="nutrition[fiber]"
            required
          />

          <label for="edit_nutrition_protein">Protein:</label>
          <input
            type="number"
            id="edit_nutrition_protein"
            name="nutrition[protein]"
            required
          />

          <label for="edit_nutrition_cholesterol">Cholesterol:</label>
          <input
            type="number"
            id="edit_nutrition_cholesterol"
            name="nutrition[cholesterol]"
            required
          />

          <label for="edit_nutrition_sodium">Sodium:</label>
          <input
            type="number"
            id="edit_nutrition_sodium"
            name="nutrition[sodium]"
            required
          />

          <label for="edit_recommendations">Recommendations:</label>
          <input
            type="text"
            id="edit_recommendations"
            name="recommendations"
            required
          />

          <button type="submit">Update Meal</button>
        </form>
      </div>
    </div>
        <!-- Delete Confirmation Modal -->
        <div id="deleteModal" class="delete">
          <div class="deletion-content">
            <h2>Confirm Deletion</h2>
            <p style="color: rgb(38, 38, 38); padding: 10px">
              Are you sure you want to delete this meal?<p id="userNameToDelete"  style="color: rgb(38, 38, 38); font-weight: bold;"></p>
            </p>
            <form id="confirmDeleteForm" method="POST">
              <button type="submit" class="confirm-delete-button">
                Yes, Delete
              </button>
              <button type="button" class="cancel-button" onclick="closeModal('deleteModal')">
                Cancel
              </button>
            </form>
          </div>
        </div>
  </body>
</html>
