<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh Bites</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <link rel="icon" href="/images/logo1.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/user-profile.css" />
    <script src="../scripts/user-profile.js" defer></script>
  </head>

  <body>
    <div class="banner"><%- include("./partial/nav-bar.ejs") %></div>

    <div class="header">
      <h1><b>Account Information:</b></h1>
    </div>

    <div id="personalInfo-container">
      <div class="photo-container">
        <img
          src="/images/user-profile-images/user_5323382.png"
          id="user-icon"
          alt="User Icon"
        />
      </div>
      <div class="card">
        <h2>Personal Information:</h2>
        <div class="personal-info">
          <p class="content">
            <strong>Name:</strong>
            <%= user.name %>
          </p>
          <p class="content">
            <strong>Email:</strong>
            <%= user.email %>
          </p>
          <p class="content">
            <strong>Phone Number:</strong>
            <%= user.phoneNumber || 'Not Provided' %>
          </p>
          <p class="content">
            <strong>Address:</strong>
            <%= user.address || 'Not Provided' %>
          </p>
        </div>
        <div class="buttons-container">
          <button
            class="transparent-button editButton"
            data-modal="editPersonalModal"
          >
            Edit
          </button>
        </div>
        <!-- Modal for editing personal information -->
        <div id="editPersonalModal" class="modal">
          <div class="modal-content">
            <span class="close" data-modal="editPersonalModal">&times;</span>
            <h2>Edit Personal Information</h2>
            <form id="editForm" method="POST" action="/user/updateAccInfo">
              <label for="name">Name:</label>
              <input
                type="text"
                id="name"
                name="name"
                value="<%= user.name %>"
              />
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                value="<%= user.email %>"
              />
              <label for="phone">Phone Number:</label>
              <input
                type="text"
                id="phone"
                name="phoneNumber"
                value="<%= user.phoneNumber %>"
              />
              <label for="address">Address:</label>
              <textarea id="address" name="address">
<%= user.address %></textarea
              >
              <button type="submit">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="password-container">
      <div class="card">
        <h2>Password:</h2>
        <div class="password-info">
          <p class="content">
            <strong>Password:</strong>
            <span id="passwordDisplay">
              <%= "•" .repeat(user.password.length) %>
            </span>
            <button
              class="passwordBtn"
              id="toggleButton"
              onclick="togglePassword()"
            >
              Show
            </button>
          </p>
        </div>
        <div class="buttons-container">
          <button
            class="transparent-button editButton"
            data-modal="editPasswordModal"
          >
            Edit
          </button>
        </div>
      </div>
    </div>

    <!-- Modal for editing password -->
    <div id="editPasswordModal" class="modal">
      <div class="modal-content">
        <span class="close" data-modal="editPasswordModal">&times;</span>
        <h2>Edit Password</h2>
        <form id="editPasswordForm" method="POST" action="/user/updatePassword">
          <label for="currentPassword">Current Password:</label>
          <input
            type="password"
            id="currentPassword"
            name="currentPassword"
            required
          />

          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" required />

          <label for="confirmPassword">Confirm New Password:</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />

          <button type="submit">Save</button>
        </form>
      </div>
    </div>
    <div id="subPlan-container">
      <div class="card">
        <h2>Subscription Information:</h2>
        <div class="subscription-info">
          <% if (user.subscriptionStatus==='Activated' ) { %>
          <p class="content">
            <strong>Subscription Status:</strong>
            <%= user.subscriptionStatus %>
          </p>
          <p class="content">
            <strong>Meal Preferences:</strong>
            <%= user.subPlan.preferences.join(', ') %>
          </p>
          <p class="content">
            <strong>Number of People:</strong> <%= user.subPlan.numberOfPeople
            %>
          </p>
          <p class="content">
            <strong>Number of Meals:</strong> <%= user.subPlan.numberOfMeals %>
          </p>
          <div class="buttons-container">
            <button
              class="transparent-button editButton"
              id="cancelSubscriptionButton"
            >
              Cancel Subscription
            </button>
          </div>
          <% } else { %>
          <p class="content">
            <strong>Subscription Status:</strong> Not Activated
          </p>
          <p class="content">Get started with a plan that suits you!</p>
          <a href="/our-plans">Get Started</a>
          <% } %>
        </div>
      </div>
    </div>
    <!--Warning popup-->
    <span class="overlay"></span>
    <section>
      <div id="warningPopup" class="popup">
        <i class="fas fa-exclamation-circle"></i>
        <h2>Warning</h2>
        <h3>Are you sure you want to cancel your subscription?</h3>
        <div class="buttons">
          <button id="confirmCancel">Yes</button>
          <button id="cancelPopup">No</button>
        </div>
      </div>
    </section>

    <div id="cardPayment">
      <h2>Payment Details:</h2>
      <div class="container">
        <div class="cardVisa">
          <div class="headerVisa">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="logoVisa"
              width="140"
              height="43"
              viewBox="0 0 175.7 53.9"
            >
              <style>
                .visa {
                  fill: #fff;
                }
              </style>
              <path
                class="visa"
                d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1"
              />
              <path
                fill="#F7A600"
                d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4"
              />
            </svg>
          </div>

          <div class="visaContent">
            <div class="row">
              <label>Card Number</label>
              <input
                type="text"
                class="card-number"
                id="cardNumber"
                placeholder="<%= user.visaInfo ? (user.visaInfo.cardNum || ' 0000 0000 0000 0000')
              : '0000 0000 0000 0000' %>"
                maxlength="16"
              />
            </div>

            <div class="row card-expire">
              <div class="row card-expire-month">
                <label>Month</label>
                <select id="cardMonth">
                  <% const expDate=user.visaInfo && user.visaInfo.expDate ? new
                  Date(user.visaInfo.expDate) : null; const expMonth=expDate ?
                  String(expDate.getMonth() + 1).padStart(2, '0' ) : 'MM' ;
                  const expYear=expDate ? expDate.getFullYear() : 'YYYY' ; %>
                  <option value="<%= expMonth %>" selected>
                    <%= expMonth %>
                  </option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="row card-expire-year">
                <label>Year</label>
                <input type="text" id="cardYear" placeholder="<%= expYear %>" />
              </div>
            </div>

            <div class="card-cvv">
              <label>CVV</label>
              <input
                type="text"
                placeholder="<%= user.visaInfo && user.visaInfo.cvv ? user.visaInfo.cvv : 'CVV' %>"
                id="cvv"
                maxlength="3"
                inputmode="numeric"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="buttons-container">
        <button class="transparent-button">Save</button>
      </div>
    </div>

    <script>
      const actualPassword = "<%= user.password %>";
    </script>
  </body>
</html>
