<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/history.css" />
    <title>History</title>
  </head>
  <body>
    <%- include("./partial/nav-bar.ejs") %>
    <div class="container">
      <h1>Your Orders</h1>

      <section>
        <!-- Future Orders (To Be Delivered) -->
        <% if (futureOrders.length > 0) { %>
        <ul class="orders-list">
          <% futureOrders.forEach(order => { %>
          <li>
            <div class="order-header">
              <h3>Order ID: #<%= order._id %></h3>
              <div class="tags">Upcoming</div>
            </div>
            <p>
              <strong>Delivery Date:</strong> <%=
              moment(order.deliveryDate).format('DD/MM/YYYY') %>
            </p>
            <p><strong>Dishes:</strong></p>
            <ul class="dish-list">
              <% order.dishes.forEach(dish => { %>
              <li>
                <img
                  src="<%= dish.image %>"
                  alt="<%= dish.name %>"
                  class="dish-image"
                />
                <strong><%= dish.name %></strong>
              </li>
              <% }) %>
            </ul>
            <hr class="total-divider" />
            <p><strong>Total Amount:</strong> <%= order.totalAmount %> EGP</p>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p class="noOrders">No future orders.</p>
        <% } %>
      </section>

      <section>
        <!-- Past Orders (Delivered) -->
        <% if (pastOrders.length > 0) { %>
        <ul class="orders-list">
          <% pastOrders.forEach(order => { %>
          <li>
            <div class="order-header">
              <h3>Order ID: #<%= order._id %></h3>
              <div class="tags">Delivered</div>
            </div>
            <p>
              <strong>Delivery Date:</strong> <%=
              moment(order.deliveryDate).format('DD/MM/YYYY') %>
            </p>
            <p><strong>Dishes:</strong></p>
            <ul class="dish-list">
              <% order.dishes.forEach(dish => { %>
              <li>
                <img
                  src="<%= dish.image %>"
                  alt="<%= dish.name %>"
                  class="dish-image"
                />
                <strong><%= dish.name %></strong>
              </li>
              <% }) %>
            </ul>
            <hr class="total-divider" />
            <div class="order-footer">
              <p><strong>Total Amount:</strong><%= order.totalAmount %> EGP</p>
              <button class="rate">
                <i></i>Rate your Order <i class="fas fa-star"></i>
              </button>
            </div>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p class="noOrders">No past orders.</p>
        <% } %>
      </section>
    </div>
  </body>
</html>
